*{
    margin: 0;
}

body{
    font-family: 'Libre Baskerville', serif;
}

:root{
    --icon-font: 3rem;
    --logo-height: 7rem;
    --wrapper-padding: 2%;
    --form-width: 200px;
    --field-height: 40px;
    --field-width: 400px;
    --form-container-width: 500px;
    --form-btn-height: 55px;
    --form-btn-width: 105px;
    --form-btn-size: 16px;
}

#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(242,242,254);
    padding: var(--wrapper-padding);
    height: 100vh;
}

#nav{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

#search > i {
    font-size: var(--icon-font);
}

.logo > img{
    height: var(--logo-height);
}

.user{
    display: flex;
   gap: 0.7rem;

}

.user > i {
    font-size: var(--icon-font);
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--form-container-width);
    height: 100%;
}

#sign-in{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign-in > h1 {
    margin-bottom: 10%;
}

#sign-in > input {
    height: var(--field-height);
    width:  var(--field-width);
    margin-bottom: 2.5%;
}

#sign-in > a{
    align-self: flex-start;
    margin-bottom: 11%;
}


#sign-in > button {
    height: var(--form-btn-height);
    width: var(--form-btn-width);
    background: rgb(0,1,79);
    color: white;
    border-radius: 20px;
    font-size: var(--form-btn-size)
}



