
.container{
    display: flex;
    flex-direction: column;
}

.nav-bar-big{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 20%;
    justify-content: center;
}


  
  
  
  
  