body{
    margin: 40px;
}

.container{
    display: flex;
    flex-direction: column;
}

.nav-bar-big{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-big i{
    font-size: 3vw;
    margin-left: 10px;
    
}

.logo{
    width: 20vw;
}

.nav-bar-big img{
    width: 100%;
}


.nav-bar-small{
    display: none;
}

.gallery img{
    width: 100%;
}

.ps4, .ps5, .switch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
  
.item{
    width: 30%;
}

.item img{
    width: 100%;
}
  
  
  