body{
    margin: 0;
    padding: 0;
    background-color: #F0F0FF;
    font-family: 'Libre Baskerville', serif;
}

.container{
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar i{
    font-size: 3vw;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8)
}

.nav-bar i:hover{
    transform: scale(1.2);
}

.search-bar {
    display: flex;
    justify-self: left;
    align-self: flex-start;
}

.hidden {
    display: none;
}

.logo{
    width: 23vw;
}

.nav-bar img{
    width: 100%;
}


.gallery{
    width: 80%;
    align-self: center;
    margin-top: 50px;
}

.gallery img{
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.gallery img:hover{
    transform: scale(1.1);
}

.gallery i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    padding: 10px 20px;
}
  
.prev{
    left:80px;
}

.next{
    right:80px;
}

.ps4, .ps5, .switch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21%;
    margin-top: 20px;
}


.item img{
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.item img:hover{
    transform: scale(1.1);
}

.item button{
    cursor: pointer;
    border: solid 1px #000;
    border-radius:20px;
    width: 100%;
    height: 40px;
    background-color: #0084CE;
    color: #F0F0FF;
    transition: all 0.2s ease-in-out;
}

.item button:hover{
    transform: scale(1.05);
}

.item p,h3{
    font-size: 1.2vw;
}

.view button{
    margin-top: 50px;
    border: solid 1px #000;
    border-radius:20px;
    width: 20vw;
    height: 50px;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.view button:hover{
    transform: scale(1.05);
}

.footer{
    height: 200px;
    background-color: #0084CE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #F0F0FF;
}

.footer input{
    background-color: #0084CE;
    border: none;
    border-bottom: solid 1px #F0F0FF;
    margin-bottom: 10px;
}

.footer button{
    border: none;
    background-color: #F0F0FF;
    width: 20vw;
    height: 30px;
    border-radius: 20px;
}


@media (max-width: 720px) {
    .logo{
        width: 32vw;
    }

    .gallery{
        width: 100%;
    }

    .items{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .item{
        width: 80%;
        margin-top: 50px;
    }

    .item p{
        font-size: 20px;
        margin-top: 35px;
    }
}

/* Product page CSS*/

.product_container{
    display: flex;
    flex-direction: row;

}

.left, .right{
    width: 50%;
    height: 100%;
    margin: 50px;
}

.left img{
    width: 100%;
}

.right{
    display: flex;
    flex-direction: column;
}

.quantity input{
    height: 30px;
    width: 50px;
}

.right button{
    cursor: pointer;
    border: solid 1px #000;
    border-radius:20px;
    width: 100%;
    height: 40px;
    background-color: #0084CE;
    color: #F0F0FF;
    transition: all 0.2s ease-in-out;
    margin-top: 30px;
}

.right button:hover{
    transform: scale(1.05);
}

.desc{
    text-align: justify;
    line-height: 30px;
    color: rgba(0,0,0,0.5);
}


  /* Sign in Sign up CSS */

.signin{
    max-width: 500px;
    width: 100%;
    background: #0084CE;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
}

.signin .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}

.signin .form{
    width: 100%;
}

.signin .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.signin .form .inputfield label{
    width: 200px;
    color: #fec107;
    margin-right: 10px;
    font-size: 14px;
}

.signin .form .inputfield .register_input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.signin .form .inputfield p{
    font-size: 14px;
    color: #fec107;
}

.signin .form .inputfield .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

